<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
    <body>
        <div class="panel-heading"><span class="lead">Создание нового пользователя</span></div>
        <br/>
        <form th:method="POST" th:action="@{/admin}" th:object="${user}">
            <div>
                <label for="name">Имя</label>
                <input type="text" th:field="*{firstName}" id="name">

                <br/>
                <br/>

                <label for="lastName">Фамилия</label>
                <input type="text" th:field="*{lastName}" id="lastName">

                <br>
                <br/>

                <label for="email">Почта</label>
                <input type="text" th:field="*{email}" id="email">

                <br>
                <br/>

                <label for="password">Пароль</label>
                <input type="text" th:field="*{password}" id="password">

                <br>
                <br/>

                <p>
                    <label>Roles:
                        <input type="checkbox" name="roles"
                               th:each="role : ${allRoles}"
                               th:text="${role.name.getRole()}"
                               th:value="${role.id}"
                               th:field="*{roles}"
                        />
                    </label>
                </p>

                <br>
                <br/>

                <input type="submit" value="Создать">
            </div>
        </form>
        <br>
        <a th:href="@{/logout}"
           class= "btn btn-warning">Выйти из аккаунта</a>
    </body>
</html>